html, body {
  height: 100%;
  margin: 0;
  margin-top: 10vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.bg-img {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mặc định cho tất cả các màn hình */
body {
  background-image: url('../images/formAddMemeber/background.jpg');
}

@media (max-width: 576px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}


#form_div{
  background-color: white;
  border-radius: 10px ;
  border: 3px solid #003056;
  margin-bottom: 7vh;

}
