html, body {
  height: 100%;
  margin: 0;
  margin-top: 20vh;
}

body.bg-img {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mặc định cho tất cả các màn hình */
body {
  background-image: url('../images/formAddMemeber/background.jpg');
}

@media (max-width: 576px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('../images/formAddMemeber/background.jpg');
  }
}


#form_div{
  background-color: rgba(255, 255, 255, 0.952);
  padding: 4vh 4vh;
  margin-bottom: 10vh;
  color: black;
  font-size: 17px;
  border-radius: 10px;
  border: 3px solid #003056;
}

.form-control,.form-select{
  font-size: 20px;

  height: auto;
}

.form-label {
  font-size: 18px;
}

#submitBtn {
  font-size: 24px;
  padding: 15px 30px;
}

h2{
  font-size: 28px;
}
.modal{
  color: rgb(199, 197, 197);
}