
.All_div .waviy {
    padding-top: 30px;
    text-align: center;
}
.All_div .waviy span{
    font-family: Anton,sans-serif;
    font-size: 60px;
    margin-left: 6px;
    margin-top: 30px;
    margin-right: 6px;
    margin-bottom: 30px;
}
.All_div .title-container h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-size: 50px;
    padding-left: 30px;
    display: inline-block;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #eae9e9;;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* .title-container {
    display: inline-block;
    position: relative;
}
.title {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
.member-count {
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    margin-left: 10px;
    position: absolute;
}
.title-container:hover .member-count {
    opacity: 1;
    transform: translateX(0);
} */
/* Ban chu nhiem */
#wrapper ul.members{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#wrapper ul.members li {
    flex-basis: 25%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
#wrapper ul.members li img{
    max-width: 100%;
    height: 300px;
    transition: all 0.3s ease-in-out;
}
#wrapper ul.members li:hover .member-top .member-thumb img{
    filter: opacity(80%);
    transform: scale(1.03, 1.03);
}
#wrapper ul.members li .member-top {
    position: relative;
    overflow: hidden;
}
#wrapper ul.members li .member-top a.look_details{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color:rgb(120, 120, 124) ;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    bottom: -50px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}
#wrapper ul.members li .member-info a{
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color:rgb(252, 247, 241);
    font-weight: bold;
}
#wrapper ul.members li .member-info {
    margin-top: 10px;
    text-align: center;
   
}
#wrapper ul.members li:hover a.look_details{
    bottom: 0px;
}
/* title */  
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }