html, body {
  height: 100%;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mặc định cho tất cả các màn hình */
body {
  background-image: url('images/background.jpg');

}

/* Cho màn hình nhỏ (xs) */
@media (max-width: 576px) {
  body {
      background-image: url('images/background.jpg');
  }
}

/* Cho màn hình nhỏ vừa (sm) */
@media (min-width: 576px) and (max-width: 768px) {
  body {
      background-image: url('images/background.jpg');
  }
}

/* Cho màn hình trung bình (md) */
@media (min-width: 768px) and (max-width: 992px) {
  body {
      background-image: url('images/background.jpg');
  }
}

/* Cho màn hình lớn (lg) */
@media (min-width: 992px) and (max-width: 1200px) {
  body {
      background-image: url('images/background.jpg');
  }
}

/* Cho màn hình rất lớn (xl) */
@media (min-width: 1200px) {
  body {
      background-image: url('images/background.jpg');
  }
}


#form_div{
  background-color: white;
  border-radius: 10px ;
  border: 3px solid #003056;
}